---
layout: default
title: Home
type: index
---
<div class="posts">
  {% for post in paginator.posts %}
    {% capture currentyear %}{{ post.date | date: "%Y" }}{% endcapture %}
    {% if currentyear != year %}
        {% unless forloop.first %}
        {% endunless %}
        <h1>{{ currentyear }}</h1>
        <hr>
        {% capture year %}{{ currentyear }}{% endcapture %}
    {% endif %}
    <h2 class="post-title"><a href="{{ post.url }}">{{ post.title }}</a></h2>
    <span class="post-date"><i class="fa fa-fw fa-calendar"></i> {{ post.date | date_to_string }} <i class="fa fa-fw fa-tag"></i> <a style="color:#9a9a9a;" href="/{{ post.categories }}">{{ post.categories }}</a></span>
  {% endfor %}
</div>
<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="/page{{paginator.next_page}}"><i class="fa fw fa-arrow-left"></i> Older</a>
  {% else %}
    <span class="pagination-item older"><i class="fa fw fa-arrow-left"></i> Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
        <a class="pagination-item newer" href="/">Newer <i class="fa fw fa-arrow-right"></i></a>
    {% else %}
        <a class="pagination-item newer" href="/page{{paginator.previous_page}}">Newer <i class="fa fw fa-arrow-right"></i></a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer <i class="fa fw fa-arrow-right"></i></span>
  {% endif %}
</div>
