<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
  <meta name="theme-color" content="#000000">
  <meta name="msapplication-navbutton-color" content="#000000">
  <meta name="apple-mobile-web-app-status-bar-style" content="#000000">
  <meta name="description" content="{% if page.title == "Home" %}{{ site.description | strip_html }}{% else %}{{ page.content | strip_html | truncate: 156 }}{% endif %}">
  <meta name="author" content="Md. Minhazul Haque">
  {% if page.title != "Home" %}
  <script type="application/ld+json">{"@context":"https://schema.org","@type":"BreadcrumbList","itemListElement":[{"@type":"ListItem","position":1,"name":"Bits","item":"{{ site.url }}/"},{"@type":"ListItem","position":2,"name":"{{ page.tag }}","item":"{{ site.url }}/{{ page.tag }}"},{"@type":"ListItem","position":3,"name":"{{ page.title }}","item":"{{ site.url }}/{{ page.url }}"}]}</script>
  {% endif %}
  <title>{% if page.title == "Home" %}{{ site.title }} | {{ site.description | strip_html }}{% else %}{{ page.title }} | {{ site.title }}{% endif %}</title>
  <link href="https://fonts.googleapis.com/css?family=Quicksand:400,700|Inconsolata" rel="stylesheet">
  <link href="https://mdminhazulhaque.github.io/solaimanlipi/css/solaimanlipi.css" rel="stylesheet" type="text/css">
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="/public/css/poole.css">
  <link rel="stylesheet" href="/public/css/hyde.css">
  <link rel="stylesheet" href="/public/css/print.css">
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/public/apple-touch-icon.png">
  <link rel="icon" type="image/x-icon" href="/public/favicon.ico?v={{ site.time | date: '%Y%m%d' }}">
  <link rel="alternate" type="application/rss+xml" title="RSS" href="/atom.xml">
  <style>.blink{animation:blink 1s infinite}@keyframes blink{to{opacity:.0}}</style>
</head>
