<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>
        <a href="/">
        {{ site.title }}
        </a>
      </h1>
      <p class="lead">{{ site.description }}</p>
      <p>Find me at&nbsp;
        <a href="{{ site.author.github }}"><span class="socicon socicon-github"></a>&nbsp;
        <a href="{{ site.author.twitter }}"><span class="socicon socicon-twitter"></a>&nbsp;
        <a href="{{ site.author.linkedin }}"><span class="socicon socicon-linkedin"></a>&nbsp;
        <a href="{{ site.author.stackexchange }}"><span class="socicon socicon-stackexchange"></a>&nbsp;
        <a href="{{ site.author.instagram }}"><span class="socicon socicon-instagram"></a>&nbsp;
        <a href="{{ site.author.gplus }}"><span class="socicon socicon-googleplus"></a>
      </p>
    </div>
    <p>&copy; 2012 - {{ site.time | date: '%Y' }}. All rights reserved.</p>
  </div>
</div>
