<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>
        <a class="monospace" href="/">
        {{ site.title }}<span class="blink">_</span>
        </a>
      </h1>
      <p class="lead">{{ site.description }}</p>
      <p>Find me at ...
        <br><a href="https://github.com/mdminhazulhaque"><i class="fa fa-fw fa-github"></i> Github</a>
        <br><a href="https://bd.linkedin.com/in/mdminhazulhaque"><i class="fa fa-fw fa-linkedin"></i> LinkedIn</a>
      </p>
    </div>
    <p>&copy; 2012 - {{ site.time | date: '%Y' }}. All rights reserved.</p>
  </div>
</div>
