<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>
        <a class="monospace" href="/">
        {{ site.title }}<span class="blink">_</span>
        </a>
      </h1>
      <p class="lead">{{ site.description }}</p>
      <p>Find me at ...{% for link in site.data.links %}{% if link.last.show == "true" and link.last.title != "Blog" %}
      <br><a href="{{ link.last.href }}"><i class="fa fa-fw {{ link.last.icon }}"></i> {{ link.last.title }}</a>{% endif %}{% endfor %}
      </p>
    </div>
    <p>&copy; 2012 - {{ site.time | date: '%Y' }}. All rights reserved.</p>
  </div>
</div>
