---
layout: default
type: post
---
<div class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <hr>
  <i class="fa fa-fw fa-calendar"></i>{{ page.date | date_to_string }} <i class="fa fa-fw fa-tag"></i><a href="/{{ page.categories }}">{{ page.categories }}</a>
  <hr>
  {% include ad_header.html %}
  {{ content }}
  {% include ad_footer.html %}
  <div id="disqus_thread"></div>	
  <script>
  (adsbygoogle = window.adsbygoogle || []).push({});
  </script>
  <script type="text/javascript">	
  (function() {	
    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;	
    dsq.src = 'https://bitsfromminhaz.disqus.com/embed.js';	
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);	
    })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
</div>
{% comment %}
<div class="related">
  <h2>Related Posts</h2>
  <ul class="related-posts">
    {% for post in site.related_posts limit:3 %}
    <li>
      <h3>
        <a href="{{ post.url }}">
        {{ post.title }}
        <small>{{ post.date | date_to_string }}</small>
        </a>
      </h3>
    </li>
    {% endfor %}
  </ul>
</div>
{% endcomment %}
